<!doctype html>
<html lang="{{locale}}">
    {% include 'sections/head.njk' %}
    <body{% if hideSearch %} data-pagefind-ignore{% endif %}>
        {{ content | safe }}
        {% include 'sections/js.njk' %}
    </body>
</html>