<!doctype html>
<html lang="{{locale}}">
    {% include 'sections/head.njk' %}
    <body>
    {% include 'sections/skip_to_main.njk' %}
    {% include 'sections/header.njk' %}
<div id="mainContainer">
    <section class="govcy-bg-main-shade-3 govcy-pb-6 govcy-header-separator below-header">
        <div class="govcy-container">
            <div class="govcy-row">
                <div class="govcy-col-md-6 govcy-mb-3">
                    <h1>Once-Only Technical System Integration Guide</h1>
                    {%if site.showVersion%}
                    <div class="govcy-phase-banner govcy-phase-banner-light">
                        <span class="govcy-tag">{{ site.localization[locale].version }} {{ site.version }}</span>
                        <span class="govcy-ml-2">{{ site.localization[locale].older_version_banner | safe }} </span>
                    </div>
                    {% endif %}
                    <p>The Once-Only Technical System architecture adopts a decentralised approach, integrating and connecting systems through an interoperability layer using reusable "Building Blocks".</p>
                    <button type="button" class="govcy-btn-primary" onclick="window.location='introduction/'">Get Started</button>
                </div>
                <div class="govcy-col-md-6 govcy-my-3">
                    <img src="img/banner-1.png" height="300" alt="Once-Only Technical System">
                </div>
            </div>
        </div>
    </section>
</div>
    <!--Main-->
    <main class="govcy-container">
        <div class="govcy-row">
            <div class="govcy-col-12">
                {% if showTitle %}<h1>{{ title }}</h1>{% endif %}
                {{ content | safe }}
            </div>
        </div>
    </main>
    {% include 'sections/footer.njk' %}
    {% include 'sections/js.njk' %}
    </body>
</html>