    <head>
    <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Social -->
        <meta property="og:description" content="{{ site.localization[locale].description }}">
        <meta property="og:title" content="{{ title }} - {{ site.localization[locale].subtitle }} - {{ site.localization[locale].title }}">
        <meta property="og:url" content="{{ site.url }}">
        <meta property="og:type" content="website">
        <meta property="og:image" content="{{ site.url }}img/icons-512.png">
        <meta property="og:site_name" content="{{ site.localization[locale].title }}">
    
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:url" content="{{ site.url }}">
        <meta property="twitter:title" content="{{ title }} - {{ site.localization[locale].subtitle }} - {{ site.localization[locale].title }}">
        <meta property="twitter:description" content="{{ site.localization[locale].description }}">
        <meta property="twitter:image" content="{{ site.url }}img/icons-512.png">
        <!-- Theme --> 
        <link rel="manifest" href="{{'/manifest.json' | url }}">
        <meta name="theme-color" content="#31576F">
        <link rel="icon" type="image/png" sizes="48x48" href="{{ '/img/favicon-48x48.png' | url }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ '/img/favicon-32x32.png' | url }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ '/img/favicon-16x16.png' | url }}">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ '/img/apple-touch-icon-144x144-precomposed.png' | url }}">
        <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ '/img/apple-touch-icon-120x120-precomposed.png' | url }}">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ '/img/apple-touch-icon-114x114-precomposed.png' | url }}">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ '/img/apple-touch-icon-72x72-precomposed.png' | url }}">
        <link rel="apple-touch-icon-precomposed" href="{{ '/img/apple-touch-icon-57x57-precomposed.png' | url }}">
        <!-- Bootstrap CSS -->
        <link href="{{ '/css/govcy.uds.min.css' | url }}" rel="stylesheet" >
        {# <link href="{{ site.cssCDN }}" rel="stylesheet" > #}
        <link href="{{ '/css/docs.css' | url }}" rel="stylesheet" >
        <!-- Prism Highlighter CSS -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/prism-themes/1.9.0/prism-a11y-dark.min.css" rel="stylesheet">
        <title>{{ title }} - {{ site.localization[locale].subtitle }} - {{ site.localization[locale].title }}</title>
        <meta name="description" content="{{ site.localization[locale].description }}">
    </head>